<article>
	<span class="image">
		<%= image_tag(s.avatar) %>
	</span>
	<header class="major">
		<h3><a href="landing.html" class="link"><%= s.name %></a></h3>
		<p><%= s.name %></p>
	</header>
</article>