

		<!-- Wrapper -->
			<div id="wrapper">

				
				<%= render :partial => "lyris/partials/bannerHome" %>
                
				<!-- Main -->
					<div id="main">

						<!-- One -->
							
							<section id="one" class="tiles">

                                <% @styles.each do |s| %>
                            
								<%= render :partial => "lyris/partials/mainBlock", locals: {s: s} %>
								
								<% end %>
								
							</section>

						<!-- Two -->
						<% if user_signed_in? %>
						<% elsif not current_page?(new_user_registration_path) and not current_page?(new_user_session_path) %>
									
									
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>Faça da vida a sua música!</h2>
									</header>
									<p>Aprender música com o Liry é viciante! Os melhores vídeos, os melhores exercícios, sem custos para você que sempre sonhou em aprender um instrumento.</p>
									<ul class="actions">
										<li><%= link_to "Descubra", new_user_session_path, :class => 'button next'  %></li>
									</ul>
								</div>
							</section>
						<% end %>

					</div>

				

				<!-- Footer -->
					<%= render :partial => "lyris/partials/footer" %>

			</div>

		<!-- Scripts -->

