

		<!-- Wrapper -->
			<div id="wrapper">

				
				<%= render :partial => "lyris/partials/bannerHome" %>
                
				<!-- Main -->
					<div id="main">

						<!-- One -->
							
							<section id="one" class="tiles">

                                <% @styles.each do |s| %>
                            
								<%= render :partial => "lyris/partials/mainBlock", locals: {s: s} %>
								
								<% end %>
								
							</section>
					</div>

				<!-- Contact -->
				<%= render :partial => "lyris/partials/contact" %>

				<!-- Footer -->
				<%= render :partial => "lyris/partials/footer" %>


			</div>

		<!-- Scripts -->

