<!DOCTYPE html>
<html>
<head>
<style>


</style>
</head>

<body>
<h1 align = center>Welcome to Musico Pro! </h1>
<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
</ul>
</body>
</html>

