<section>
	<a href="generic.html" class="image">
		<img src="<%= image_path t.avatar %>" alt="" data-position="center center" />
	</a>
	<div class="content">
		<div class="inner">
			<header class="major">
				<h3><%= t.name %></h3>
			</header>
			<!-- max 277 -->
			<p><%= t.description %></p> 
			<ul class="actions">
				<li><a href="<%= listOfLessons_path t %>" class="button">Iniciar</a></li>
			</ul>
		</div>
	</div>
</section>
