<article>
	<span class="image">
		<%= image_tag(s.avatar) %>
	</span>
	<header class="major">
		<h3><a href="<%= styleDescription_path(s) %>" class="link"><%= s.name %></a></h3>
		<p><%= s.litle_description %></p>
	</header>
</article>